@import 'assets/scss/helpers/mixins';

.wrap {
  border: 1px solid var(--extGray3);
  border-radius: 16px;
  padding: 16px;

  .row {
    align-items: center;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    line-height: 21px;
    word-break: break-word;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .data {
      align-items: center;
      display: flex;
      min-width: 30%;

      .tokenImage,
      .nftImageWrap {
        margin-right: 8px;
      }

      .name,
      .collectionName {
        @include ellipsis-text();
        max-width: 230px;
        white-space: nowrap;
      }

      .name {
        color: var(--extBlack);

        &.link {
          @include link;
          font-size: 15px;
          line-height: 21px;
        }
      }

      .collectionName {
        @include r3;
        color: var(--extGray5);
        margin-top: 2px;
      }
    }

    .value {
      @include r1;
      color: var(--extBlack);

      .usdPrice {
        @include r3;
        color: var(--extGray5);
        margin-top: 2px;
        text-align: right;
      }
    }

    &.nft {
      .nftImageWrap {
        position: relative;

        .nftImage {
          border-radius: 8px;
          height: 48px;
          width: 48px;
        }
      }

      .marketplaceIcon {
        background-color: var(--extWhite);
        border: 1.5px solid var(--extWhite);
        border-radius: 50%;
        bottom: 0;
        height: 18px;
        position: absolute;
        right: -4px;
        width: 18px;
      }
    }

    &.token {
      .tokenImage {
        border-radius: 50%;
        height: 24px;
        width: 24px;
      }
    }

    .nameWrap {
      .count {
        background: var(--extGray2);
        border-radius: 24px;
        color: var(--extBlack);
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        margin-left: 4px;
        padding: 2px 4.5px;
      }
    }
  }

  .separator {
    border-bottom: 1px solid var(--extGray3);
    margin: 16px 0;
    position: relative;

    .icon {
      align-items: center;
      background: var(--extWhite);
      border: 1px solid var(--extGray3);
      border-radius: 8px;
      display: flex;
      height: 24px;
      justify-content: center;
      left: 50%;
      position: absolute;
      top: -12px;
      transform: translate(-50%);
      width: 24px;

      img {
        height: 16px;
        min-width: 16px;
        width: 16px;
      }
    }
  }
}

.top {
  align-items: center;
  display: flex;
}

.washTrading {
  align-items: center;
  display: flex;
  gap: 2px;
  margin-left: 6px;

  .percent {
    background: rgba(228, 92, 81, 0.1);
    border-radius: 16px;
    color: var(--extError);
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    padding: 1.5px 3px 1.5px 4px;
  }
}

.washTradingPopup {
  @include r2;
  color: var(--extGray5);
  min-width: 216px;

  .row {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    .value {
      align-items: center;
      color: var(--extBlack);
      display: flex;
      gap: 6px;

      .count {
        color: var(--extGray5);
      }

      .percent {
        color: var(--extError);
      }
    }
  }
}
