@import '../../../../assets/scss/helpers/mixins';

.wrapper {
  text-align: left;

  .title,
  .value {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }

  .title {
    color: var(--ext18);
    margin-bottom: 4px;
  }

  .value {
    @include ellipsis-text();
    color: var(--ext19);
    white-space: nowrap;
  }
}
