.wrapper {
  align-items: center;
  background: var(--ext8);
  display: flex;
  justify-content: space-between;
  padding: 7px 24px;
}

.logoWrapper {
  display: inline-block;
  height: 34px;
}

.logo {
  height: 100%;
  width: 157px;
}

.description {
  color: var(--ext10);
  font-size: 11px;
  font-weight: normal;
  line-height: 14px;
  max-width: 225px;
}
