@import '../../../assets/scss/helpers/typography';
@import '../../../assets/scss/helpers/mixins';

.wrap {
  background: var(--ext1);
  padding: 24px;

  .title {
    @include h1(var(--ext12));
    margin-bottom: 12px;
  }

  .text {
    @include r1(var(--ext31));
    display: flex;
  }

  .name {
    color: var(--ext12);
    margin-left: auto;
  }

  .description {
    @include r1(var(--ext31));
    margin-bottom: 24px;

    span {
      color: var(--ext12);
    }
  }

  .footerBtn {
    background: transparent;
    padding: 0;

    div {
      height: auto;
    }
  }
}
