@import 'assets/scss/helpers/typography';

.wrap {
  align-items: flex-start;
  background: rgba(245, 195, 0, 0.24);
  border: 1px solid var(--extWarning);
  border-radius: 16px;
  color: var(--extBlack);
  display: flex;
  padding: 16px;

  &.danger {
    background: rgba(228, 92, 81, 0.24);
    border: 1px solid var(--extError);
  }

  .icon {
    margin-right: 16px;

    img {
      height: 20px;
      min-width: 20px;
      width: 20px;
    }
  }

  .title {
    @include r1-b;
    margin-bottom: 4px;
  }

  .message {
    @include r2;
  }
}
