.web3GuardWrapper {
  background: #FFF;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--max-z-index-value) !important;

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0 20px;
    width: 800px;
  }
  
  .icon {
    height: 84px;
    margin-bottom: 56px;
    width: 84px;
  }
  
  .title {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 24px;
  }
  
  .description {
    color: #79848E;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 64px;
  }
  
  .buttonWrapper {
    align-items: center;
    column-gap: 16px;
    display: flex;
    margin-bottom: 24px;

    .button {
      height: fit-content;
      padding: 10px 20px;
    }
  }

  .label {
    font-weight: 400;
  }
}
