@import '../../assets/scss/helpers/typography';
@import '../../assets/scss/helpers/mixins';

.wrapper {
  @include d-flex(center, flex-start);
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.32);
  min-width: 386px;
  padding: 16px;
}

.textWrap {
  .description {
    @include r2(var(--extWhite));
    margin-bottom: 4px;
    opacity: 0.68;
  }

  .title {
    @include body-xl(700);
    color: var(--extWhite);
  }
}

