@import 'assets/scss/helpers/typography';

.wrapper {
  align-items: center;
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.32);
  display: flex;
  min-width: 386px;
  padding: 16px;
}

.textWrap {
  .description {
    color: rgba(#FFF, 0.68);
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;
  }

  .title {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}

