@import '../../assets/scss/helpers/mixins';
@import '../../assets/scss/helpers/typography';

.wrap {
  background: var(--extGray1);
  padding: 16px;

  .footerText {
    @include h1();
    color: var(--extBlack);
    margin-bottom: 16px;
    margin-top: 0;
    text-align: center;
  }
}

.buttons {
  @include d-flex(center, space-between);
  column-gap: 8px;

  .button {
    @include d-flex();
    box-sizing: border-box;
    height: 48px;
    width: calc(50% - 4px);
  }
}
