@import '../../../../assets/scss/helpers/typography';

.wrap {
  padding: 24px 16px;

  .title {
    margin-bottom: 8px;
    text-align: center;
  }

  .address {
    margin: 0 auto;
  }

  .cancelBtn {
    margin-top: 24px;
  }

  .risks {
    margin-top: 24px;

    .risk {
      @include r1;
      align-items: center;
      border: 1px solid var(--extGray2);
      border-radius: 16px;
      color: var(--extBlack);
      display: flex;
      justify-content: space-between;
      padding: 13.5px 16px;

      &.disabled {
        border-color: rgba(214, 214, 214, 0.4);
        color: rgba(#000, 0.24);
      }

      .icon {
        margin-right: 8px;
      }

      .info {
        align-items: center;
        display: flex;
      }

      .status {
        color: var(--extGray4);
      }

      .loaderStub {
        border: 1.5px solid var(--extGray2);
        border-radius: 50%;
        height: 16px;
        width: 16px;
      }

      .soon {
        @include r2;
        background-color: var(--extGray1);
        border-radius: 12px;
        padding: 4px 8px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
