@import 'assets/scss/helpers/typography';

.wrapper {
  align-items: center;
  background: var(--extPrimary);
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;

  &.disabled {
    background-color: var(--extError);
  }
}

.icons {
  align-items: center;
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.settingsIcon {
  :global(.icon) {
    fill: var(--ext8);
  }
}

.feedbackIcon {
  :global(.icon) {
    fill: var(--ext8);
  }
}
