@import '../../assets/scss/helpers/typography';

.wrap {
  border-radius: 12px;
  grid-area: image;
  height: 120px;
  position: relative;
  width: 120px;

  .img {
    border-radius: 12px;
    height: 100%;
    width: 100%;
  }

  .externalId {
    @include r2-b(var(--extWhite), 800);
    position: absolute;
    right: 9px;
    top: 5px;
  }
}
