.wrapper {
  background: var(--ext13);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  gap: 4px;
  height: 100%;
  min-width: 100px;
  padding: 10px;
  text-align: left;

  &:hover {
    background: var(--ext20);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  .icon {
    height: 12px;
    margin-top: 2px;
    width: 12px;
  }

  .titleWrapper {
    align-items: flex-start;
    display: flex;
    margin-bottom: 4px;
  }

  .title {
    color: var(--ext12);
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    margin-left: 6px;
  }

  .description {
    color: var(--ext18);
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
  }
}
