@import '../../assets/scss/helpers/typography';
@import '../../assets/scss/helpers/mixins';

.wrap {
  border-bottom: 1px solid var(--extGray2);
  padding-bottom: 14px;
  position: relative;
  transition: 0.3s;

  &:has(.header:hover) {
    .arrow {
      path {
        stroke: var(--extBlack);
      }
    }
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;

    .name {
      @include r1-b();
      color: var(--extBlack);
      margin-right: 4px;
    }

    .risksCount {
      @include r2();
      color: var(--extGray5);
      font-size: 15px;
    }

    .iconWrap {
      align-items: center;
      display: flex;
    }
  }

  .arrow {
    height: 16px;
    margin-left: 8px;
    transform: rotate(180deg);
    transition: 0.3s;
    width: 16px;

    path {
      stroke: var(--extGray4);
    }

    &.open {
      transform: rotate(0deg);

      path {
        stroke: var(--extBlack);
      }
    }
  }

  .content {
    overflow: hidden;
    transition: 0.3s;

    &.open {
      margin-top: 12px;
    }
  }

  &.disabled {
    .header {
      pointer-events: none;
    }

    .arrow {
      path {
        stroke: var(--extGray2);
      }
    }
  }
}
