@import '../../../../assets/scss/helpers/typography';

.wrap {
  .header {
    align-items: center;
    display: flex;
    margin-bottom: 8px;

    h3 {
      margin-right: 4px;
    }
  }

  .alerts {
    .alert {
      align-items: flex-start;
      display: flex;

      img {
        margin-right: 8px;
      }

      .text {
        @include r2(var(--extBlack));
        margin-top: 2px;
        word-break: break-word;

        button {
          color: var(--extBlack);
          text-decoration: underline;
        }
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
