@import 'assets/scss/helpers/typography';

.wrap {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.nameWrap {
  align-items: center;
  display: flex;

  .name {
    @include h1;
    color: var(--extBlack);
  }
}

.image {
  height: 48px;
  object-fit: contain;
  width: 48px;

  &.isRounded {
    border-radius: 50%;
  }
}

.icon {
  height: 16px;
  margin-left: 6px;
  width: 16px;
}
