.wrap {
  background: rgba(112, 163, 243, 0.12);
  border: 1px solid rgba(112, 163, 243, 0.64);
  border-radius: 16px;
  color: var(--extBlack);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  padding: 12px 16px;
  word-break: break-word;
}
