@mixin body-xl($font-weight: 600) {
  font-size: 16px;
  font-weight: $font-weight;
  line-height: 20px;
}

@mixin body-l($font-weight: 400) {
  font-size: 13px;
  font-weight: $font-weight;
  line-height: 16px;
}

@mixin body-m($font-weight: 400) {
  font-size: 12px;
  font-weight: $font-weight;
  line-height: 15px;
}

@mixin body-s {
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}

@mixin h1($color: var(--extBlack)) {
  color: $color;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 26px;
}

@mixin h2($color: var(--extBlack)) {
  color: $color;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

@mixin h3 {
  color: var(--extBlack);
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
}

@mixin h4 {
  color: var(--extBlack);
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

@mixin r1($color: var(--extBlack)) {
  color: $color;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

@mixin r1-b($color: var(--extBlack)) {
  @include r1($color);
  font-weight: 700;
}

@mixin r2($color: var(--extBlack)) {
  color: $color;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@mixin r2-b($color: var(--extBlack), $fontWeight: 700) {
  @include r2($color);
  font-weight: $fontWeight;
}

@mixin r3 {
  color: var(--extBlack);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

@mixin button-m {
  color: var(--extBlack);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
